<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>DAILY JOURNAL</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>
  <nav class="navbar navbar-light bg-light mynavbar navbar-expand-sm fixed-top">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand mybrand">DAILY JOURNAL</p>
      </div>
      <ul class="navbar-nav navbar-right">
        <!-- 6 -->
        <li id="home"><a class="nav-link" href="/">HOME</a></li>
        <li id="about"><a class="nav-link" href="/about">ABOUT US</a></li>
        <li id="contact"><a class="nav-link" href="/contact">CONTACT US</a></li>
      </ul>
    </div>
  </nav>
</head>

<body>
  <div class="container mycontainer">
